.points_container {
  font-size: 10px;
  padding: 0 10px 10px 5px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 140%;
    color: rgb(186, 186, 186);
    margin-bottom: 10px;
    cursor: pointer;

    svg {
      cursor: pointer;
      stroke: rgb(186, 186, 186);
    }

    &:hover {
      color: white;

      svg {
        stroke: white;
      }
    }
  }
}
