@import './reset.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'roboto';
}

.header {
  grid-area: header;
  background-color: #191c1f;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.087);

  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #191c1f;
  padding: 10px;
  color: white;
  overflow: auto;
}

.content {
  grid-area: content;
  padding: 0px;
  background-color: #f1f1f1;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;

  .btn {
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    font-size: 10px;
    transition: all 0.3s ease;

    &_edit {
      background: rgb(6, 135, 6);
    }

    &_remove {
      background: red;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.ymaps-2-1-79-copyright {
  display: none !important;
}
